/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/* NAV */

nav {
  width: 100%;
  height: 48px;
}


#logoDiv {
  height: 48px;
  width: 106px;
  background-image: url("../images/tnwSmallLogo.png");
  background-position: center;
}

#navHolder {
  width: 100%;
}

nav,
#blackNav,
#whiteNav,
#blackNav ul,
#whiteNav ul {
  display: flex;
  flex-direction: row;
}

#blackNav,
#whiteNav {
  max-width: 100%;
  justify-content: space-between;
}

#blackNav {
  background-color: black;
  color: white;
  height: 32px;
}

#blackNav {
  position: absolute;
  visibility: hidden;
}

#whiteNav {
  height: 48px;
  align-items: center;
}

#navSections {
  position: absolute;
  visibility: hidden;
}

#navIcons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* MAIN */
/* TOP ARTICLES */
#topArticles {
  display: grid;
  width: 95%;
  grid-template: repeat(3, 270px)/100%;
  gap: 10px;
  margin: auto;
}
.topArts {
  height: 100%;
  width: 100%;
  margin: auto;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: url("..//images/blackGradient.png");
}

.insideArts {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 2%;
  z-index: ;
  /* position: relative;
  top: -269px;
  margin-bottom: -250px; */
}

.insideArts div, .insideArts h2 {
  padding-top: 2px;
}

.byHourShare {
  display: flex;
}

#article1,
#article2,
#article3 {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#article1 {
  background-image: url("../images/netflixProject.jpg");
}

#article2 {
  background-image: url("../images/bitcoinGuys.png");
}

#article3 {
  background-image: url("../images/userUsedBitcoin.jpg");
}

/* FOOTER*/



/* MEDIA QUERIES */

/* MEDIUM */
@media only screen and (min-width: 765px) {
  #blackNav {
    position: static;
    visibility: visible;
  }

  #navSections {
    position: static;
    visibility: visible;
  }

  #logoDiv {
    height: 80px;
    background-image: url("../images/tnwLogo.png");
  }
}